/* PALETA DE CORES

https://flatuicolors.com/palette/es
OBS: a ideia é usar um roxo, que eu curto mt, e uma cor mais neutra, tipo um bege e um cinza

HEADER: escrita - crocodile tooth / bg - lucky point / bolinha e btn - c64 purple

*/

.logo{
    display: inline-block;
    width: 112px;
    height: 88px;
}

header{
    display: flex;
    justify-content: space-between; /* joga cada elemento filho pra um lado da tela*/
    background-color: #2c2c54;
    border-bottom: 10px solid #000;
    padding: 10px 20px;
}

nav{
    text-align: right;
}

a{
    display: inline-flex;
    align-items: center;
    color: #d1ccc0;
    font-family: 'Nova Square', cursive; /* fall back de font = cursive*/
    font-weight: bold;
    font-size: 25px;
    text-decoration: none;
    margin-right: 40px;
}

a::before{ /* pseudo elemento - bolinha antes das palavras*/
    content: "";
    background-color: #706fd3;
    width: 10px;
    height: 10px;
    margin-right: 10px;
    border-radius: 10px;
}


    